.container-1, .container-2, .container-3, .container-4, .container-5{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1{
    display: flex;
    border: 1px solid black;
    padding:10px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.flex-box-container-1 div{
    display: flex;
    border: 1px solid black;
    padding:10px;
    align-items: center;
}

.container-1 h2{
    display: flex;
    justify-content: center;
}

#cat-generator{
    margin-bottom: 10px;
}
#cat-reset{
    margin-bottom: 10px;
}

.flex-box-container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid rgb(0, 0, 0);
}

.flex-box-container-2 img{
    display: flex;
    justify-content: space-around;
    padding: 18px;
    margin: 10px;
    box-shadow: 0px 10px 50px;
}

.flex-box-rps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 22px 0px 26px;
    border-top: 1px solid rgb(0, 0, 0);
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgb(69, 174, 182);
}

.container-4 h2{
    padding: 0px 0px 8px;
    border-bottom: 1px solid black;
}

.flex-box-color-change{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

 /* Blackjack */
 
.blackjack-row-1,.blackjack-row-2{
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.blackjack-row-1 div{
    background: url(images/greenbackground.jpg) center;
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    height: 350px;
}


.blackjack-row-2{
    border-bottom: 1px solid black;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.blackjack-row-2 button{
    border: 1px solid black;
}

.blackjack-row-2 div{
    display: flex;
}

.blackjack-row-3{
    display: flex;
    justify-content: center;
    padding: 10px;
}

table, th, td{
    padding: 5px;
    border: 1px solid black;
}
